div.square {
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 20px;
    background-image: url(images/imagens-cap19/wallpaper003.jpg);
}


div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position: center center;
}

#container {
    background-image: url(images/imagens-cap19/pattern001.png);
    background-size: 100% 100%;
    height: 96vh;
    padding: 10px;
    background-color: purple;
    position: relative;
    
}

#content {
    position: absolute; /*after that you can select the position of the object: up, right, left, bottom*/
    height: 200px;
    width: 400px;
    background-color: yellow;
    left: 40%; /*we can also work with %*/
    top: 50%;
    transform: translate(-50px, -50px);
}

margin: auto; /*the content will always be in the center*/