* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Luckiest+Guy&family=Notable&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@1,600;1,700;1,800&family=Righteous&family=Sriracha&display=swap');



.logo{
    height: 120px;
    width: 300px;
    cursor: pointer;
    position: relative;
    left: 150px;
    top: 100px;
}

.header {
    background-color: red;
    height: 170px;

}

nav ul {
    list-style: none;
    width: 95%;
    text-align: right;
    padding-right: 60px;
    padding-bottom: 60px;
   
    
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px; 
    

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
    box-shadow: inset 0 0 0 0  yellowgreen;
    margin: 30px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family:  'Luckiest Guy', cursive;
    font-style: initial;
}


nav ul li a:hover {
    box-shadow: inset 100px 0 0 0 yellowgreen;
    color: white;
}

.img {
    position: relative;
    padding-right: 30px;
    padding-top:  30px;
    margin: 5px;
    width: 550px;
    left: 30px;   
}

.col1 {
    position: relative;
    padding-left: 800px;
    bottom: 400px;
    border-radius: 2px 2px;
}

.colorbox {
    position: absolute;
    right: 150px;
    top: 120px;
    background: linear-gradient(white, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 80%;
    width: 57%;
    z-index: -1;
    transform: translateX(150px);
}

.header2 {
    background-color: green;
    bottom: 400px;
    height: 170px;

}

.logo2 {
    height: 220px;
    width: 400px;
    cursor: pointer;
    position: relative;
    
    top: 100px;
}

