@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@1,600;1,700;1,800&family=Sriracha&display=swap');


body {
    background-image: url(esm.jpeg);
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}

.logo {
    width: 600px;
    cursor: pointer;
    position: absolute;
    left: 50px;
    top: 20px;
    
}

nav ul {
    list-style: none;
    width: 95%;
    text-align: right;
    font-family: 'Sriracha', cursive;
    padding-right: 60px;
    padding-top: 50px;
 
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;

}

nav ul li a{
    color: rgb(212, 159, 95);
    text-decoration: none;
    position: relative;
    margin: 30px;

}

nav ul li a:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.btn { 
    
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px black;
}

.home {
    display:contents;
    min-height: 90vh;
    align-items: center;
}

.home h1 {
    color: bisque;
    text-shadow: 5px 5px darkmagenta;
    font-size: 40px;
    font-family: 'Sriracha', cursive;
    text-align: justify;
    margin-top: 50px;
    margin-left: 50px;
}


.home p {
    background-color: plum;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    padding: 25px;
    width: 18vw;
    border-radius: 10px;
    box-shadow: 5px 5px palegoldenrod;
    font-size: 20px;
    font-family: 
}

.text2 h2 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    text-shadow: 2px 2px darkmagenta;
    color: palevioletred;
    background-color: white;
    margin-top: 70px;
    
}

.text2 p {
    text-align: center;
    font-family: 'Passion One', cursive;
    margin-top: 10px;
    background-color: azure;
    border-radius: 20px 10px;
    padding: 20px;
    width: 90vw;
    margin-left: 50px;
    
}

div.square {
    height: 300px;
    width: 300px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    left: 250px;
    
    
}

div#q1 {
    background-image: url(usagi.png);
    cursor: pointer;
    background-position: center;
    background-size: 300px;
}

div#q2 {
    background-image: url(chibichibi.jpg);
    cursor: pointer;
    background-position: center;
    background-size: 300px;
}

div#q3 {
    background-image: url(chibi.jpg);
    cursor: pointer;
    background-position: center;
    background-size: 300px;
}

.text2 span {
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    color: blueviolet;
    background-color: azure;
    text-shadow: 1px 2px black;
}

div.square2 {
    height: 300px;
    width: 950px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    left: 260px;
    
    
}

div#q4 {
    background-image: url(sm.jpg);
    background-position: top center;
    background-size: 1000px;
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 0.5rem;
    position: relative;
    text-decoration: none;
    color: peru;
    left:700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px black;
}

.btn2:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;

}

.main{
    display: flex;
    flex-wrap: wrap;

}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: purple;
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: #fff
}

.col ul li:not(last-child) {
    margin-bottom: 10px;
}

.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);
}