* {
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: peachpuff;
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form label{
    display: inline-block;
    text-align: right;
    float: left;
    font-family: 'Bebas Neue', cursive;
}



  div {
    border-radius: 20px;
    background-color: papayawhip;
    padding: 20px;
    
  }

  h1 {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
    border-radius: 100px;
  }

  input[type=submit] {
    width: 100%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
    font-family: 'Bebas Neue', cursive;
  }